<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <ion-avatar (click)="selectImageSource()" class="profile">
    <ion-img [src]='myImage'></ion-img>
  </ion-avatar>

  <ion-card>
    
      <ion-card-header>
        <ion-card-title>
          Akheel Sajjan
        </ion-card-title>
      </ion-card-header>
   
    <ion-card-content>
     Full Stack Web devloper
    </ion-card-content>
  </ion-card>
</ion-content>
